@import '/src/common.module.scss';
.item {
    display: flex;
    margin: 16px 0;
    background-color: #FCBF49;
    padding: 6px;
}

.content {
    flex: auto;
    text-align: center;
    font-weight: 700;
    .desc{
        font-size: 16px;
        color: $tDescColor;
    }
    .time{
        color: $tTimeColor
    }
}

.delete {
    margin: 10px 10px;
    transition: .5s;
    :hover {
        cursor: pointer;
        transform: rotate(1turn);
    }
}
